* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

body {
    background-image: url('Desktop.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

#image {
    height: 20rem;
}

#gif {
    position: absolute; /* Positions the GIF relative to the container */
    top: 10rem;
    left: 18rem;
    z-index: 10;
    display: none; 
}
